<div class="{{ authorPicSize }} rounded-lg border flex-shrink-0 bg-green-700/30 overflow-hidden p-1 shadow-xl">
    <img src="/images/author.jpeg" alt="Leandro Gomez" class="size-full object-cover rounded">
</div>