{
    "semi": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-jinja-template"],
    "overrides": [
        {
            "files": ["*.njk"],
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}